:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/* Estilos generales */
 







/* Configuración general del formulario */
/* Estilos para el formulario */
/* Estilos generales */
/* Estilos generales */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.formbold-main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formbold-form-wrapper { 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 600px;
}

.formbold-form-label {
  display: block;
  margin-bottom: 10px;
}

.formbold-form-input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formbold-input-flex {
  display: flex;
  flex-wrap: wrap;
}

.formbold-input-flex > div {
  flex: 1; 
}

.formbold-input-flex > div:last-child {
  margin-right: 0;
}

.formbold-input-flex > div:nth-child(2),
.formbold-input-flex > div:nth-child(3) {
  flex-basis: 50%;
  padding-left: 5px;
}

.formbold-input-flex > div:nth-child(4),
.formbold-input-flex > div:nth-child(5) {
  flex-basis: 50%;
  padding-left: 5px;
}

.formbold-input-flex > div:nth-child(6),
.formbold-input-flex > div:nth-child(7) {
  flex-basis: 50%;
  padding-left: 5px;
}

.formbold-form-step-1 {
  display: block;
}

.formbold-form-step-1.active {
  display: block;
}

.formbold-btn {
  background-color: #F6981D;
  border: none;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  text-align: center;
  width: 150px;
  height: fit-content;
  font-size: 14px;
    font-weight: 600;
}

.formbold-btn:hover {
  background-color: #fff;
  color: #000;
}

/* Estilos específicos para cada campo */

#firstname, #lastname {
  flex-basis: 50%;
}

#dob, #whatsapp {
  flex-basis: 50%;
}

#address, #photo {
  flex-basis: 100%;
}

@media screen and (max-width: 600px) {

  .formbold-form-wrapper {
    width: 100%;
  }

  .formbold-input-flex > div {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  #firstname, #lastname {
    flex-basis: 100%;
  }

  #dob, #whatsapp {
    flex-basis: 100%;
  }

  #address, #photo {
    flex-basis: 100%;
  }

}






.si-no {
  display: inline-block;
  margin: 10px;
}

.si-no input[type="radio"] {
  display: none;
}

.si-no label {
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

.si-no label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
}

.si-no input[type="radio"]:checked + label:before {
  background-color: #333;
}




.formbold-steps {
  padding-bottom: 18px;
  margin-bottom: 35px;
  border-bottom: 1px solid #DDE3EC;
}
.formbold-steps ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}
.formbold-steps li {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #536387;
}
.formbold-steps li span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #DDE3EC;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #536387;
}
.formbold-steps li.active {
  color: #07074D;;
}
.formbold-steps li.active span {
  background: #6A64F1;
  color: #FFFFFF;
}






.Home_main__nLjiQ{
  padding: 0 !important;
}
.Home_center__4BFgC{
  padding-top: 1rem !important;
}
.Home_center__4BFgC::before, .Home_center__4BFgC::after{
  z-index: -100;
}

.formbold-steps img{
  width: 30%;
}

.terminos{
  font-size: 13px;
  color: #536387; 
  line-height: 1.5; 
}

.cargando{
  font-size: 12px;
  color: #e0e0e0;
  padding-top: 10px;
}
.img2 img{
  width: 20%;
  margin-bottom: 12px;
}









/* Estilos para la tarjeta de búsqueda */
.search-card {
  background: linear-gradient(to bottom right, #111, #222);
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos para la foto del resultado de búsqueda */
.search-result-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

/* Estilos para el nombre del resultado de búsqueda */
.search-result-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Estilos para la fecha de nacimiento del resultado de búsqueda */
.search-result-dob {
  font-size: 18px;
  margin-bottom: 5px;
}

/* Estilos para el número de WhatsApp del resultado de búsqueda */
.search-result-whatsapp {
  font-size: 18px;
  margin-bottom: 5px;
}

/* Estilos para la dirección del resultado de búsqueda */
.search-result-address {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Estilos para el logo de RaveHub */
.logo {
  width: 100px;
  height: auto;
  margin-top: 20px;
}

/* Estilos para el contenedor del buscador */
.search-container {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para el campo de entrada del buscador */
.search-input {
  width: 70%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 20px 0 0 20px;
}

/* Estilos para el botón de búsqueda */
.search-button {
  width: 30%;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: #F6981D;
  color: #111;
  cursor: pointer;
}

/* Estilos para el resultado de búsqueda */
.search-result { 
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}
